{% extends "layouts/front-end/base.njk" %}

{% block title %}Contact
{% endblock %}


{% block main %}
    <section class="px-2 flex justify-center w-[80%]">
         <h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Contact</h1>
         <p>Le formulaire de contacte ici !!!</p>
    </section>
{% endblock %}
