{% extends "layouts/front-end/base.njk" %}

{% block title %}Contact
{% endblock %}

{% block main %}

    <div>
        <h1 class="text-xl font-bold lg:col-span-2 mt-6 lg:mt-0">PAGE 404 </h1>
        <p>{{ error }}</p>
    </div>

{% endblock %}
