{% extends "layouts/front-end/base.njk" %}

{% block title %}Lieux de vie
{% endblock %}


{% block main %}
    <section class="px-2 flex justify-center w-[80%]">
         <h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Lieux de vie</h1>
         <p>La vie étudiante a CYU</p>
    </section>
{% endblock %}
