{% extends "layouts/front-end/base.njk" %}
{% set active_menu_item = "places" %}

{% block title %}Lieux de vie
{% endblock %}
{% set bubble_color = "bleu" %}


{% block main %}
<section class="py-10">
    <div class="mb-10">
        <h3 class="text-2xl font-bold text-gray-800 mb-4">Lieux de vie</h3>
        <p class="text-gray-600">
          Entre les cours, l'université et ses IUT proposent de nombreux lieux de convivialité ou d'étude. Divers et variés, ils permettent aux étudiants, de toute formation, de découvrir de nouveaux horizons et surtout de rencontrer les étudiants d'autres BUT.
        </p> 
    </div>

    <div class="mx-auto space-y-12">
        <!-- Premier bloc -->
        <div class="flex flex-col-reverse lg:flex-row gap-6 items-center">
            <!-- Image -->
            <img class="max-w-[600px] w-full h-[300px] rounded-md" src="../../../images/bibliotheque.png" alt="bibliotheque de l'iut de sarcelle" />
            <!-- Texte -->
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mb-4">Bibliothèque universitaire</h3>
                <p class="text-gray-600">
                    La bibliothèque universitaire est un atout indispensable à votre réussite. Elle met à votre disposition des collections (livres, revues, ressources numériques accessibles sur place et à distance) ainsi que des postes informatiques et des espaces de travail.
                </p>
            </div>
        </div>

        <!-- Deuxième bloc -->
        <div class="flex flex-col lg:flex-row gap-6 items-center">
            <!-- Texte -->
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mb-4">Se restaurer</h3>
                <p class="mb-5 text-gray-600">
                    Les restaurants du CROUS vous permettent de déjeuner pour un tarif social, fixé au plus à 3,30€. Pour bénéficier de ce tarif, il vous suffit de présenter votre carte d'étudiant multiservices.
                </p>
                <strong class="mt-5">Si vous êtes étudiant boursier, vous bénéficiez automatiquement lors de votre passage en caisse du tarif à 1€ pour un repas complet.</strong>
            
            </div>
            <!-- Image -->
            <img class="max-w-[600px] w-full h-[300px] rounded-md" src="../../../images/cafeteria.png" alt="cantine de l'iut de sarcelle" />
        </div>

        <!-- Troisième bloc -->
        <div class="flex flex-col-reverse lg:flex-row gap-10 items-center">
            <!-- Image -->
            <img class="max-w-[600px] w-full h-[300px] rounded-md" src="../../../images/Fablab_atelier.jpg" alt="fablab de l'iut de sarcelle" />
            <!-- Texte -->
            <div>
                <h3 class="text-2xl font-bold text-gray-800 mb-4">Réseau des fablabs de CY Cergy Paris Université</h3>
                <p class="text-gray-600">
                    Intégré au Centre d’appui aux enseignements, le réseau des fablabs de CY Cergy Paris Université comprend le fablabs LaBoite de Cergy (Grand centre) et le FabLab de Gennevilliers (site de l’université). Ce réseau permet d’expérimenter, tester et échanger dans des lieux collaboratifs, accueillants, et ouverts à toutes et tous.
                </p>
            </div>
        </div>
</div>
</section>

{% endblock %}
