{% extends "layouts/front-end/base.njk" %}

{% block title %}Les métidas
{% endblock %}


{% block main %}
    <section class="px-2 flex justify-center w-[80%]">
         <h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Les médias</h1>
         <p>Les médias ici !!!</p>
    </section>
{% endblock %}
