{% extends "layouts/front-end/base404.njk" %}

{% block title %}404
{% endblock %}

{% block main %}

<div>
    <h1 class="text-[250px] font-bold text-center">
        404
    </h1>
    <p class="text-[70px] text-center">
        Page not found.
    </p>
</div>

{% endblock %}