<footer class="py-4 lg:w-[50%] md:w-[70%] mx-auto">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center text-sm text-gray-600">
    <div class="flex items-center mb-4 md:mb-0">
    <img id="footerLogo" src="" alt="Logo Université" class="w-40 mr-3"/>
    <div class="flex flex-col justify-center space-x-4 m-5 text-sm">
        <span class="text-center ml-4">
            NICAUD Rosalie, 
            MOTENGO BAUTI Ornella, 
            ELENGA Dan. 
        </span>
        <section class="text-center">
            <a href="https://fr-fr.facebook.com/CYCergyParisUniversite/"
                class="text-blue-600 hover:underline">Facebook</a>
            <a href="https://twitter.com/universitecergy?lang=fr"
                class="text-blue-600 hover:underline">Twitter</a>
            <a href="https://www.cyu.fr/"
                class="text-blue-600 hover:underline">Université CY Paris</a>
        </section>
        <span class="text-center mb-4">
          © 2024–2025 · BUT MMI - CY Paris Université · SAE 501
        </span>
        
    </div>
    <div class="mt-4 md:mt-0 text-center md:text-right">
      <a ref="#" id="scroll-to-top" class="text-blue-600 hover:underline cursor-pointer">Remonter</a>
    </div>
  </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const savedLogo = localStorage.getItem('footerLogo');
        
        if (savedLogo) {
            document.getElementById('footerLogo').src = savedLogo;
        }
    });
</script>