<footer class="py-4 w-[50%] mx-auto">
  <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center text-sm text-gray-600">
    <div class="flex items-center mb-4 md:mb-0">
      <img
        src="{{'images/CY IUT_coul.jpg'}}"
        alt="Logo Université"
        class="h-20 w-40 mr-3"
      />
    </div>

    <div class="flex flex-col justify-center space-x-4">
        <span>
            NICAUD Rosalie, 
            MOTENGO BAUTI Ornella, 
            ELENGA Dan. 
        </span>
        <section class="text-center">
            <a
                href="https://fr-fr.facebook.com/CYCergyParisUniversite/"
                class="text-blue-600 hover:underline"
                >Facebook</a
            >
            <a
                href="https://twitter.com/universitecergy?lang=fr"
                class="text-blue-600 hover:underline"
                >Twitter</a>
            <a
                href="https://www.cyu.fr/"
                class="text-blue-600 hover:underline"
                >Université CY Paris</a>
        </section>
        <span>
          © 2024–2025 · BUT MMI - CY Paris Université · SAE 501
        </span>
        
    </div>

    <div class="mt-4 md:mt-0 text-center md:text-right">
      
      <a ref="#" class="text-blue-600 hover:underline">Remonter</a>
    </div>
  </div>
</footer>
