{% extends "layouts/back-end/base.njk" %}
{% set active_menu_item = "divers" %}
{% set using_asc = query_string_params.sorting == "asc" %}
{% set sort_param = "desc" if using_asc == true else "asc" %}
{% set sort_text = "Trier du plus récent au plus ancien" if using_asc == true else "Trier du plus ancien au plus récent" %}

{% import "components/back-end/list-actions.njk" as list_actions %}

{% block title %}Divers
{% endblock %}

{% block main %}
 <div class="bg-white rounded-2xl mt-10 shadow-md pb-6">    
    <header class="mb-1 p-6 gap-2 @3xl/main:gap-0 flex justify-between @3xl/main:flex-row flex-col">
        <div>
            {% include "components/back-end/breadcrumb.njk" %}
            <h2 class="text-4xl">
                Logo Université Footer
            </h2>
        </div>
    </header>
    <form id="logoForm" enctype="multipart/form-data" class="flex flex-col gap-4 mb-1 p-6">
        <label for="logoUpload" class="block text-gray-700 font-medium">Choisissez un nouveau logo :</label>
                <div id="form-message" class="hidden p-2 rounded-md"></div>
        <input type="file" id="logoUpload" accept="image/*" 
            class="block w-full text-sm text-gray-600 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none">
        <button type="submit" 
            class="inline-flex gap-1 w-full sm:w-fit text-md text-white rounded-2xl items-center text-sm py-2 px-4 bg-blue-700 hocus:bg-blue-950 h-fit justify-center">
            Mettre à jour
        </button>
    </form>
</div>
{% endblock %}
